body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-125px;
  width:2491px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:1933px;
  width:70px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1999px;
  width:70px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:2007px;
  width:78px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:1992px;
  width:65px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2517_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1977px;
  width:26px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:107px;
  width:993px;
  height:672px;
  display:flex;
}
#u2519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:71px;
  width:993px;
  height:36px;
  display:flex;
}
#u2520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:81px;
  width:56px;
  height:16px;
  display:flex;
}
#u2521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:81px;
  width:22px;
  height:16px;
  display:flex;
}
#u2522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:788px;
  width:8px;
  height:16px;
  display:flex;
}
#u2523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2523_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:202px;
  width:90px;
  height:16px;
  display:flex;
}
#u2524 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2525_input {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:43px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2525_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:43px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:188px;
  width:804px;
  height:43px;
  display:flex;
}
#u2525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2525_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:43px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2525.disabled {
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:215px;
  height:19px;
}
#u2526p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:202px;
  height:6px;
  -webkit-transform:rotate(-0.171710044813821deg);
  -moz-transform:rotate(-0.171710044813821deg);
  -ms-transform:rotate(-0.171710044813821deg);
  transform:rotate(-0.171710044813821deg);
}
#u2526p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:6px;
}
#u2526p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(-0.171710044813821deg);
  -moz-transform:rotate(-0.171710044813821deg);
  -ms-transform:rotate(-0.171710044813821deg);
  transform:rotate(-0.171710044813821deg);
}
#u2526p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u2526p002 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(179.828289955186deg);
  -moz-transform:rotate(179.828289955186deg);
  -ms-transform:rotate(179.828289955186deg);
  transform:rotate(179.828289955186deg);
}
#u2526p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:363px;
  width:197px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-27.8282899551862deg);
  -moz-transform:rotate(-27.8282899551862deg);
  -ms-transform:rotate(-27.8282899551862deg);
  transform:rotate(-27.8282899551862deg);
}
#u2526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:309px;
  width:196px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u2527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:642px;
  width:921px;
  height:1px;
  display:flex;
}
#u2528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:357px;
  width:76px;
  height:20px;
  display:flex;
}
#u2529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2530_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2530_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:343px;
  width:233px;
  height:34px;
  display:flex;
}
#u2530 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2530_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2530.disabled {
}
.u2530_input_option {
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:64px;
  width:353px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:2304px;
  top:1933px;
  width:70px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2532_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:1754px;
  top:1999px;
  width:70px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u2533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:2149px;
  top:2007px;
  width:78px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:2551px;
  top:1992px;
  width:65px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:2457px;
  top:1977px;
  width:26px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:258px;
  width:90px;
  height:20px;
  display:flex;
}
#u2537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:71px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:258px;
  width:138px;
  height:71px;
  display:flex;
}
#u2538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:509px;
  width:48px;
  height:16px;
  display:flex;
  text-align:right;
}
#u2539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2539_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2540_input {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:97px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2540_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:97px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:509px;
  width:797px;
  height:97px;
  display:flex;
}
#u2540 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2540_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:97px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2540.disabled {
}
#u2541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:352px;
  width:70px;
  height:16px;
  display:flex;
}
#u2541 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2541_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2542_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:341px;
  width:272px;
  height:36px;
  display:flex;
}
#u2542 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2542_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2542.disabled {
}
.u2542_input_option {
}
#u2543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:692px;
  width:140px;
  height:40px;
  display:flex;
}
#u2543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:692px;
  width:140px;
  height:40px;
  display:flex;
}
#u2544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:124px;
  width:89px;
  height:40px;
  display:flex;
}
#u2545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:124px;
  width:106px;
  height:40px;
  display:flex;
}
#u2546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:124px;
  width:117px;
  height:40px;
  display:flex;
}
#u2547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:124px;
  width:98px;
  height:40px;
  display:flex;
}
#u2548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:124px;
  width:106px;
  height:40px;
  display:flex;
}
#u2549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:124px;
  width:100px;
  height:40px;
  display:flex;
}
#u2550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:124px;
  width:106px;
  height:40px;
  display:flex;
}
#u2551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2552_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:400px;
  width:794px;
  height:39px;
  display:flex;
}
#u2552 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2552_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2552.disabled {
}
.u2552_input_option {
}
#u2553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:407px;
  width:76px;
  height:16px;
  display:flex;
  text-align:right;
}
#u2553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2554_input {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2554_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:453px;
  width:794px;
  height:39px;
  display:flex;
}
#u2554 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2554_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2554.disabled {
}
.u2554_input_option {
}
#u2555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:460px;
  width:62px;
  height:16px;
  display:flex;
  text-align:right;
}
#u2555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:124px;
  width:106px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:124px;
  width:89px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:124px;
  width:117px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:124px;
  width:98px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:124px;
  width:126px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:124px;
  width:112px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:124px;
  width:106px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
