body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2234px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1041px;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1041px;
  display:flex;
}
#u3471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3472_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1233px;
  height:19px;
}
#u3472p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-11px;
  width:1236px;
  height:22px;
  -webkit-transform:rotate(-0.414661247246593deg);
  -moz-transform:rotate(-0.414661247246593deg);
  -ms-transform:rotate(-0.414661247246593deg);
  transform:rotate(-0.414661247246593deg);
}
#u3472p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1236px;
  height:22px;
}
#u3472p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-0.414661247246593deg);
  -moz-transform:rotate(-0.414661247246593deg);
  -ms-transform:rotate(-0.414661247246593deg);
  transform:rotate(-0.414661247246593deg);
}
#u3472p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3472p002 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.414661247247deg);
  -moz-transform:rotate(-180.414661247247deg);
  -ms-transform:rotate(-180.414661247247deg);
  transform:rotate(-180.414661247247deg);
}
#u3472p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:967px;
  width:1215px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(1.41466124724659deg);
  -moz-transform:rotate(1.41466124724659deg);
  -ms-transform:rotate(1.41466124724659deg);
  transform:rotate(1.41466124724659deg);
}
#u3472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:1954px;
  top:926px;
  width:280px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u3473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1494px;
  height:347px;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:489px;
  width:1494px;
  height:347px;
  display:flex;
}
#u3474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:892px;
  width:98px;
  height:16px;
  display:flex;
}
#u3475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3475_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:74px;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:842px;
  width:112px;
  height:74px;
  display:flex;
}
#u3476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:66px;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:850px;
  width:68px;
  height:66px;
  display:flex;
}
#u3477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:67px;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:849px;
  width:133px;
  height:67px;
  display:flex;
}
#u3478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:120px;
  width:41px;
  height:41px;
  display:flex;
}
#u3479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:216px;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:498px;
  width:1029px;
  height:216px;
  display:flex;
}
#u3480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:291px;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:493px;
  width:1413px;
  height:291px;
  display:flex;
}
#u3481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:64px;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:852px;
  width:81px;
  height:64px;
  display:flex;
}
#u3482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:63px;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:853px;
  width:71px;
  height:63px;
  display:flex;
}
#u3483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3484_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1233px;
  height:19px;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:806px;
  width:1215px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(1.41466124724659deg);
  -moz-transform:rotate(1.41466124724659deg);
  -ms-transform:rotate(1.41466124724659deg);
  transform:rotate(1.41466124724659deg);
}
#u3484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:1992px;
  top:791px;
  width:140px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u3485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:850px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:848px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:847px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
