body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2418px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:1632px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:443px;
  width:1905px;
  height:1632px;
  display:flex;
}
#u9889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9890 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:135px;
  width:748px;
  height:301px;
  display:flex;
}
#u9890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:472px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9891 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:720px;
  width:375px;
  height:472px;
  display:flex;
}
#u9891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9892 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:664px;
  width:375px;
  height:56px;
  display:flex;
}
#u9892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:1476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9893 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:728px;
  width:867px;
  height:1476px;
  display:flex;
}
#u9893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:180px;
}
#u9894 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:459px;
  width:1254px;
  height:180px;
  display:flex;
}
#u9894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:1222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9895 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:664px;
  width:867px;
  height:1222px;
  display:flex;
}
#u9895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:846px;
  height:32px;
  display:flex;
}
#u9896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:132px;
}
#u9897 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:3px;
  width:1086px;
  height:132px;
  display:flex;
}
#u9897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u9898 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:113px;
  width:288px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u9898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
}
#u9899 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:380px;
  width:133px;
  height:38px;
  display:flex;
}
#u9899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9900 {
  border-width:0px;
  position:absolute;
  left:2097px;
  top:380px;
  width:161px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u9900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9901_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:972px;
  height:19px;
}
#u9901p000 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:972px;
  height:18px;
  -webkit-transform:rotate(0.346250538842604deg);
  -moz-transform:rotate(0.346250538842604deg);
  -ms-transform:rotate(0.346250538842604deg);
  transform:rotate(0.346250538842604deg);
}
#u9901p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:18px;
}
#u9901p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(0.346250538842604deg);
  -moz-transform:rotate(0.346250538842604deg);
  -ms-transform:rotate(0.346250538842604deg);
  transform:rotate(0.346250538842604deg);
}
#u9901p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9901p002 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-179.653749461157deg);
  -moz-transform:rotate(-179.653749461157deg);
  -ms-transform:rotate(-179.653749461157deg);
  transform:rotate(-179.653749461157deg);
}
#u9901p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9901 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:419px;
  width:954px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(1.6537494611574deg);
  -moz-transform:rotate(1.6537494611574deg);
  -ms-transform:rotate(1.6537494611574deg);
  transform:rotate(1.6537494611574deg);
}
#u9901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9902 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:346px;
  width:148px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u9902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9903 {
  border-width:0px;
  position:absolute;
  left:1965px;
  top:266px;
  width:392px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u9903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1891FF;
  text-align:right;
}
#u9904 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:770px;
  width:114px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1891FF;
  text-align:right;
}
#u9904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u9905 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:978px;
  width:101px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u9905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u9906 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1015px;
  width:103px;
  height:17px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u9906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1051px;
}
#u9907 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:772px;
  width:1px;
  height:1050px;
  display:flex;
  -webkit-transform:rotate(0.109342957932368deg);
  -moz-transform:rotate(0.109342957932368deg);
  -ms-transform:rotate(0.109342957932368deg);
  transform:rotate(0.109342957932368deg);
}
#u9907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9908 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1064px;
  width:16px;
  height:16px;
  display:flex;
}
#u9908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9909 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:773px;
  width:16px;
  height:16px;
  display:flex;
}
#u9909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1891FF;
  text-align:right;
}
#u9910 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:807px;
  width:56px;
  height:29px;
  display:flex;
  font-size:14px;
  color:#1891FF;
  text-align:right;
}
#u9910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9911 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:849px;
  width:56px;
  height:29px;
  display:flex;
  font-size:14px;
}
#u9911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9912 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:889px;
  width:56px;
  height:29px;
  display:flex;
  font-size:14px;
}
#u9912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9913 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:935px;
  width:56px;
  height:29px;
  display:flex;
  font-size:14px;
}
#u9913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u9914 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:730px;
  width:12px;
  height:1px;
  display:flex;
}
#u9914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9915_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:972px;
  height:19px;
}
#u9915p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:970px;
  height:18px;
  -webkit-transform:rotate(0.346250538842604deg);
  -moz-transform:rotate(0.346250538842604deg);
  -ms-transform:rotate(0.346250538842604deg);
  transform:rotate(0.346250538842604deg);
}
#u9915p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:18px;
}
#u9915p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.346250538842604deg);
  -moz-transform:rotate(0.346250538842604deg);
  -ms-transform:rotate(0.346250538842604deg);
  transform:rotate(0.346250538842604deg);
}
#u9915p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9915p002 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-179.653749461157deg);
  -moz-transform:rotate(-179.653749461157deg);
  -ms-transform:rotate(-179.653749461157deg);
  transform:rotate(-179.653749461157deg);
}
#u9915p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9915 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:606px;
  width:954px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(1.6537494611574deg);
  -moz-transform:rotate(1.6537494611574deg);
  -ms-transform:rotate(1.6537494611574deg);
  transform:rotate(1.6537494611574deg);
}
#u9915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9916 {
  border-width:0px;
  position:absolute;
  left:1982px;
  top:585px;
  width:274px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u9916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9917 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:701px;
  width:294px;
  height:71px;
  display:flex;
  color:#D9001B;
}
#u9917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9918 {
  border-width:0px;
  position:absolute;
  left:1984px;
  top:104px;
  width:434px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u9918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9919 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:443px;
  width:334px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u9919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9920 {
  border-width:0px;
  position:absolute;
  left:1964px;
  top:478px;
  width:161px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u9920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9921 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:498px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9922 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:776px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:106px;
}
#u9923 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:767px;
  width:100px;
  height:106px;
  display:flex;
}
#u9923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9924 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:810px;
  width:199px;
  height:64px;
  display:flex;
  font-size:14px;
}
#u9924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9925 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:912px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:106px;
}
#u9926 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:903px;
  width:100px;
  height:106px;
  display:flex;
}
#u9926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9927 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:946px;
  width:199px;
  height:64px;
  display:flex;
  font-size:14px;
}
#u9927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9928 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:1049px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:106px;
}
#u9929 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:1040px;
  width:100px;
  height:106px;
  display:flex;
}
#u9929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9930 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:1083px;
  width:199px;
  height:64px;
  display:flex;
  font-size:14px;
}
#u9930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9931 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:796px;
  width:276px;
  height:71px;
  display:flex;
  color:#D9001B;
}
#u9931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
}
#u9932 {
  border-width:0px;
  position:absolute;
  left:1748px;
  top:842px;
  width:510px;
  height:244px;
  display:flex;
  font-size:14px;
  color:#555555;
}
#u9932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9933_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:524px;
  height:19px;
}
#u9933p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:516px;
  height:10px;
  -webkit-transform:rotate(-0.321247059841028deg);
  -moz-transform:rotate(-0.321247059841028deg);
  -ms-transform:rotate(-0.321247059841028deg);
  transform:rotate(-0.321247059841028deg);
}
#u9933p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:10px;
}
#u9933p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-0.321247059841028deg);
  -moz-transform:rotate(-0.321247059841028deg);
  -ms-transform:rotate(-0.321247059841028deg);
  transform:rotate(-0.321247059841028deg);
}
#u9933p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9933p002 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(179.678752940159deg);
  -moz-transform:rotate(179.678752940159deg);
  -ms-transform:rotate(179.678752940159deg);
  transform:rotate(179.678752940159deg);
}
#u9933p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9933 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:825px;
  width:506px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-1.67875294015897deg);
  -moz-transform:rotate(-1.67875294015897deg);
  -ms-transform:rotate(-1.67875294015897deg);
  transform:rotate(-1.67875294015897deg);
}
#u9933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9934 {
  border-width:0px;
  position:absolute;
  left:1957px;
  top:466px;
  width:175px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9935 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:810px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u9936 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:1179px;
  width:154px;
  height:71px;
  display:flex;
  color:#D9001B;
}
#u9936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9936_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9937_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:956px;
  height:19px;
}
#u9937p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:942px;
  height:6px;
  -webkit-transform:rotate(0.0685199036420459deg);
  -moz-transform:rotate(0.0685199036420459deg);
  -ms-transform:rotate(0.0685199036420459deg);
  transform:rotate(0.0685199036420459deg);
}
#u9937p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:6px;
}
#u9937p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.0685199036420459deg);
  -moz-transform:rotate(0.0685199036420459deg);
  -ms-transform:rotate(0.0685199036420459deg);
  transform:rotate(0.0685199036420459deg);
}
#u9937p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9937p002 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.068519903642deg);
  -moz-transform:rotate(180.068519903642deg);
  -ms-transform:rotate(180.068519903642deg);
  transform:rotate(180.068519903642deg);
}
#u9937p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9937 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:1188px;
  width:938px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-4.06851990364205deg);
  -moz-transform:rotate(-4.06851990364205deg);
  -ms-transform:rotate(-4.06851990364205deg);
  transform:rotate(-4.06851990364205deg);
}
#u9937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:49px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9938 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:361px;
  width:161px;
  height:49px;
  display:flex;
  font-size:20px;
}
#u9938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9939_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:970px;
  height:19px;
}
#u9939p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:968px;
  height:18px;
  -webkit-transform:rotate(0.419656443768506deg);
  -moz-transform:rotate(0.419656443768506deg);
  -ms-transform:rotate(0.419656443768506deg);
  transform:rotate(0.419656443768506deg);
}
#u9939p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:18px;
}
#u9939p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.419656443768506deg);
  -moz-transform:rotate(0.419656443768506deg);
  -ms-transform:rotate(0.419656443768506deg);
  transform:rotate(0.419656443768506deg);
}
#u9939p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9939p002 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180.419656443769deg);
  -moz-transform:rotate(180.419656443769deg);
  -ms-transform:rotate(180.419656443769deg);
  transform:rotate(180.419656443769deg);
}
#u9939p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9939 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:291px;
  width:952px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.419656443768506deg);
  -moz-transform:rotate(-0.419656443768506deg);
  -ms-transform:rotate(-0.419656443768506deg);
  transform:rotate(-0.419656443768506deg);
}
#u9939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9940 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:291px;
  width:107px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u9940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9941 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:292px;
  width:91px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u9941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:301px;
}
#u9942 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:138px;
  width:506px;
  height:301px;
  display:flex;
}
#u9942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1891FF;
}
#u9943 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:770px;
  width:278px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1891FF;
}
#u9943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9944_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1686px;
  height:19px;
}
#u9944p000 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:1686px;
  height:18px;
  -webkit-transform:rotate(-0.24892426940125deg);
  -moz-transform:rotate(-0.24892426940125deg);
  -ms-transform:rotate(-0.24892426940125deg);
  transform:rotate(-0.24892426940125deg);
}
#u9944p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1686px;
  height:18px;
}
#u9944p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-0.24892426940125deg);
  -moz-transform:rotate(-0.24892426940125deg);
  -ms-transform:rotate(-0.24892426940125deg);
  transform:rotate(-0.24892426940125deg);
}
#u9944p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9944p002 {
  border-width:0px;
  position:absolute;
  left:1653px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(179.751075730599deg);
  -moz-transform:rotate(179.751075730599deg);
  -ms-transform:rotate(179.751075730599deg);
  transform:rotate(179.751075730599deg);
}
#u9944p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9944 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:806px;
  width:1668px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-3.75107573059875deg);
  -moz-transform:rotate(-3.75107573059875deg);
  -ms-transform:rotate(-3.75107573059875deg);
  transform:rotate(-3.75107573059875deg);
}
#u9944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9945 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:262px;
  width:344px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u9945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#7F7F7F;
}
#u9946 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:232px;
  width:327px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
}
#u9946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9946_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u9947 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:182px;
  width:401px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u9947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9947_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:center;
}
#u9948 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:183px;
  width:50px;
  height:28px;
  display:flex;
  font-size:16px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:center;
}
#u9948 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:82px;
}
#u9949 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:12px;
  width:424px;
  height:82px;
  display:flex;
}
#u9949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9950 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:664px;
  width:868px;
  height:56px;
  display:flex;
}
#u9950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9951 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:676px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9952 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:677px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:40px;
}
#u9953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:1905px;
  height:40px;
  display:flex;
}
#u9953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u9954 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:118px;
  width:288px;
  height:16px;
  display:flex;
  color:#555555;
}
#u9954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:198px;
}
#u9955 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:835px;
  width:219px;
  height:198px;
  display:flex;
}
#u9955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9956 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1064px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u9957 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1093px;
  width:215px;
  height:198px;
  display:flex;
}
#u9957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u9958 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1093px;
  width:215px;
  height:198px;
  display:flex;
}
#u9958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9959 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1329px;
  width:16px;
  height:16px;
  display:flex;
}
#u9959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9960 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1329px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u9961 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1358px;
  width:215px;
  height:198px;
  display:flex;
}
#u9961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u9962 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1358px;
  width:215px;
  height:198px;
  display:flex;
}
#u9962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9963 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1628px;
  width:16px;
  height:16px;
  display:flex;
}
#u9963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9964 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1659px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u9965 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1688px;
  width:215px;
  height:198px;
  display:flex;
}
#u9965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u9966 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1688px;
  width:215px;
  height:198px;
  display:flex;
}
#u9966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1891FF;
}
#u9967 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1628px;
  width:278px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1891FF;
}
#u9967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
