body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1919px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1041px;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1041px;
  display:flex;
}
#u3489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:883px;
  width:98px;
  height:16px;
  display:flex;
}
#u3490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3490_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:120px;
  width:41px;
  height:41px;
  display:flex;
}
#u3491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:51px;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:866px;
  width:38px;
  height:51px;
  display:flex;
}
#u3492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:63px;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:854px;
  width:145px;
  height:63px;
  display:flex;
}
#u3493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:857px;
  width:300px;
  height:51px;
  display:flex;
}
#u3494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:67px;
}
#u3495 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:850px;
  width:77px;
  height:67px;
  display:flex;
}
#u3495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:67px;
}
#u3496 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:851px;
  width:89px;
  height:67px;
  display:flex;
}
#u3496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:855px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3498 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:850px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:848px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:847px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3501_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:329px;
  height:19px;
}
#u3501p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:320px;
  height:10px;
  -webkit-transform:rotate(0.455632178650717deg);
  -moz-transform:rotate(0.455632178650717deg);
  -ms-transform:rotate(0.455632178650717deg);
  transform:rotate(0.455632178650717deg);
}
#u3501p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
}
#u3501p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(0.455632178650717deg);
  -moz-transform:rotate(0.455632178650717deg);
  -ms-transform:rotate(0.455632178650717deg);
  transform:rotate(0.455632178650717deg);
}
#u3501p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u3501p002 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-179.544367821349deg);
  -moz-transform:rotate(-179.544367821349deg);
  -ms-transform:rotate(-179.544367821349deg);
  transform:rotate(-179.544367821349deg);
}
#u3501p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:1014px;
  width:311px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(52.5443678213493deg);
  -moz-transform:rotate(52.5443678213493deg);
  -ms-transform:rotate(52.5443678213493deg);
  transform:rotate(52.5443678213493deg);
}
#u3501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:1151px;
  width:308px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u3502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
