body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-18px;
  width:937px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:361px;
}
#u7523 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:74px;
  width:937px;
  height:361px;
  display:flex;
}
#u7523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:916px;
}
#u7524 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:482px;
  width:773px;
  height:916px;
  display:flex;
}
#u7524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
