body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-186px;
  width:994px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:765px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:138px;
  width:993px;
  height:765px;
  display:flex;
}
#u12690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:67px;
}
#u12691 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:181px;
  width:961px;
  height:67px;
  display:flex;
}
#u12691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:566px;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:254px;
  width:961px;
  height:566px;
  display:flex;
}
#u12692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:102px;
  width:993px;
  height:36px;
  display:flex;
}
#u12693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12694 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:112px;
  width:70px;
  height:16px;
  display:flex;
}
#u12694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12695 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:112px;
  width:44px;
  height:16px;
  display:flex;
}
#u12695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12696 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:832px;
  width:140px;
  height:40px;
  display:flex;
}
#u12696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12697 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:832px;
  width:140px;
  height:40px;
  display:flex;
}
#u12697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12698_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12698 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:274px;
  width:98px;
  height:22px;
  display:flex;
}
#u12698 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12698_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12698.disabled {
}
.u12698_input_option {
}
#u12699 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:827px;
  width:391px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
