body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:4422px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1040px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:21px;
  width:1919px;
  height:1040px;
  display:flex;
}
#u2191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:129px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:83px;
  width:654px;
  height:129px;
  display:flex;
}
#u2192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:464px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:212px;
  width:654px;
  height:464px;
  display:flex;
}
#u2193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:174px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:676px;
  width:654px;
  height:174px;
  display:flex;
}
#u2194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:76px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:985px;
  width:654px;
  height:76px;
  display:flex;
}
#u2195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:174px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:811px;
  width:654px;
  height:174px;
  display:flex;
}
#u2196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:76px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:985px;
  width:643px;
  height:76px;
  display:flex;
}
#u2197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:76px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:985px;
  width:638px;
  height:76px;
  display:flex;
}
#u2198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:999px;
  width:954px;
  height:48px;
  display:flex;
}
#u2199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:1602px;
  top:999px;
  width:98px;
  height:48px;
  display:flex;
}
#u2200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:999px;
  width:141px;
  height:48px;
  display:flex;
}
#u2201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:48px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:999px;
  width:97px;
  height:48px;
  display:flex;
}
#u2202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:48px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:999px;
  width:149px;
  height:48px;
  display:flex;
}
#u2203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:1602px;
  top:105px;
  width:300px;
  height:85px;
  display:flex;
}
#u2204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:51px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:1750px;
  top:300px;
  width:97px;
  height:51px;
  display:flex;
}
#u2205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:62px;
  background:inherit;
  background-color:rgba(25, 202, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:21px;
  width:1919px;
  height:62px;
  display:flex;
}
#u2206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:34px;
  width:19px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:42px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:1638px;
  top:45px;
  width:162px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2209 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2209_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:1861px;
  top:29px;
  width:34px;
  height:37px;
  display:flex;
}
#u2210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:1002px;
  width:1px;
  height:48px;
  display:flex;
}
#u2211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:2025px;
  top:310px;
  width:227px;
  height:48px;
  display:flex;
  color:#D9001B;
}
#u2212 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:978px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:83px;
  width:1265px;
  height:978px;
  display:flex;
}
#u2213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#AAAAAA;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:517px;
  width:480px;
  height:55px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#AAAAAA;
}
#u2214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1040px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1227px;
  width:1919px;
  height:1040px;
  display:flex;
}
#u2215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:129px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1289px;
  width:654px;
  height:129px;
  display:flex;
}
#u2216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:464px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1418px;
  width:654px;
  height:464px;
  display:flex;
}
#u2217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:174px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1882px;
  width:654px;
  height:174px;
  display:flex;
}
#u2218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:76px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:2191px;
  width:654px;
  height:76px;
  display:flex;
}
#u2219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:174px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:2017px;
  width:654px;
  height:174px;
  display:flex;
}
#u2220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:76px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:2191px;
  width:643px;
  height:76px;
  display:flex;
}
#u2221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:76px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:2191px;
  width:638px;
  height:76px;
  display:flex;
}
#u2222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:2205px;
  width:954px;
  height:48px;
  display:flex;
}
#u2223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:2205px;
  width:98px;
  height:48px;
  display:flex;
}
#u2224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:1471px;
  top:2205px;
  width:141px;
  height:48px;
  display:flex;
}
#u2225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:48px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:2205px;
  width:97px;
  height:48px;
  display:flex;
}
#u2226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:48px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:1826px;
  top:2205px;
  width:149px;
  height:48px;
  display:flex;
}
#u2227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:1311px;
  width:300px;
  height:85px;
  display:flex;
}
#u2228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:51px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:1506px;
  width:97px;
  height:51px;
  display:flex;
}
#u2229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:62px;
  background:inherit;
  background-color:rgba(25, 202, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1227px;
  width:1919px;
  height:62px;
  display:flex;
}
#u2230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1240px;
  width:19px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:1248px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:1718px;
  top:1248px;
  width:162px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:2208px;
  width:1px;
  height:48px;
  display:flex;
}
#u2234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:289px;
  height:19px;
}
#u2235p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:276px;
  height:6px;
  -webkit-transform:rotate(-0.163295759487236deg);
  -moz-transform:rotate(-0.163295759487236deg);
  -ms-transform:rotate(-0.163295759487236deg);
  transform:rotate(-0.163295759487236deg);
}
#u2235p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:6px;
}
#u2235p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.163295759487236deg);
  -moz-transform:rotate(-0.163295759487236deg);
  -ms-transform:rotate(-0.163295759487236deg);
  transform:rotate(-0.163295759487236deg);
}
#u2235p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2235p002 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.163295759487deg);
  -moz-transform:rotate(-180.163295759487deg);
  -ms-transform:rotate(-180.163295759487deg);
  transform:rotate(-180.163295759487deg);
}
#u2235p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:1796px;
  top:80px;
  width:271px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(12.1632957594872deg);
  -moz-transform:rotate(12.1632957594872deg);
  -ms-transform:rotate(12.1632957594872deg);
  transform:rotate(12.1632957594872deg);
}
#u2235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:127px;
  width:168px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u2236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2236_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:1041px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:2280px;
  top:19px;
  width:1918px;
  height:1041px;
  display:flex;
}
#u2237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:52px;
  background:inherit;
  background-color:rgba(83, 130, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:19px;
  width:484px;
  height:52px;
  display:flex;
}
#u2238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:3201px;
  top:35px;
  width:140px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:593px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:88px;
  width:716px;
  height:593px;
  display:flex;
}
#u2240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:186px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:672px;
  width:716px;
  height:186px;
  display:flex;
}
#u2241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:120px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:849px;
  width:716px;
  height:120px;
  display:flex;
}
#u2242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:66px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:969px;
  width:716px;
  height:66px;
  display:flex;
}
#u2243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:2997px;
  top:970px;
  width:51px;
  height:90px;
  display:flex;
}
#u2244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:2516px;
  top:450px;
  width:174px;
  height:36px;
  display:flex;
}
#u2245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:2516px;
  top:625px;
  width:174px;
  height:36px;
  display:flex;
}
#u2246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:2516px;
  top:803px;
  width:174px;
  height:36px;
  display:flex;
}
#u2247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:2516px;
  top:978px;
  width:174px;
  height:36px;
  display:flex;
}
#u2248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:2859px;
  top:329px;
  width:111px;
  height:40px;
  display:flex;
}
#u2249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:2859px;
  top:517px;
  width:111px;
  height:40px;
  display:flex;
}
#u2250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:2859px;
  top:691px;
  width:111px;
  height:40px;
  display:flex;
}
#u2251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:2859px;
  top:875px;
  width:111px;
  height:40px;
  display:flex;
}
#u2252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:3048px;
  top:979px;
  width:1150px;
  height:78px;
  display:flex;
}
#u2253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:3514px;
  top:988px;
  width:146px;
  height:60px;
  display:flex;
}
#u2254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:2289px;
  top:88px;
  width:681px;
  height:93px;
  display:flex;
}
#u2255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:54px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:2279px;
  top:82px;
  width:247px;
  height:54px;
  display:flex;
}
#u2256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:55px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:2516px;
  top:81px;
  width:248px;
  height:55px;
  display:flex;
}
#u2257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:101px;
  width:72px;
  height:19px;
  display:flex;
}
#u2258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(248, 250, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#5781FF;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:2613px;
  top:100px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#5781FF;
}
#u2259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:55px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:2749px;
  top:83px;
  width:248px;
  height:55px;
  display:flex;
}
#u2260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:2775px;
  top:103px;
  width:72px;
  height:19px;
  display:flex;
}
#u2261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(248, 250, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#5781FF;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:2846px;
  top:102px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#5781FF;
}
#u2262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:2289px;
  top:136px;
  width:240px;
  height:54px;
  display:flex;
}
#u2263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:55px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:205px;
  width:719px;
  height:55px;
  display:flex;
}
#u2264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:2362px;
  top:276px;
  width:219px;
  height:45px;
  display:flex;
}
#u2265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:2567px;
  top:280px;
  width:197px;
  height:37px;
  display:flex;
}
#u2266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:580px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:221px;
  width:716px;
  height:580px;
  display:flex;
}
#u2267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:201px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:801px;
  width:716px;
  height:201px;
  display:flex;
}
#u2268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:92px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:969px;
  width:716px;
  height:92px;
  display:flex;
}
#u2269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:2811px;
  top:280px;
  width:154px;
  height:75px;
  display:flex;
}
#u2270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:2816px;
  top:462px;
  width:154px;
  height:75px;
  display:flex;
}
#u2271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:2823px;
  top:625px;
  width:154px;
  height:75px;
  display:flex;
}
#u2272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:2823px;
  top:800px;
  width:154px;
  height:75px;
  display:flex;
}
#u2273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:2823px;
  top:981px;
  width:154px;
  height:75px;
  display:flex;
}
#u2274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:4059px;
  top:39px;
  width:108px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:2136px;
  top:81px;
  width:205px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-7.77895080832349deg);
  -moz-transform:rotate(-7.77895080832349deg);
  -ms-transform:rotate(-7.77895080832349deg);
  transform:rotate(-7.77895080832349deg);
}
#u2276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:2043px;
  top:71px;
  width:178px;
  height:49px;
  display:flex;
  color:#D9001B;
}
#u2277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:4239px;
  top:47px;
  width:210px;
  height:49px;
  display:flex;
  color:#D9001B;
}
#u2278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1248px;
  width:32px;
  height:32px;
  display:flex;
}
#u2279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
