body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2334px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:941px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:1713px;
  height:941px;
  display:flex;
}
#u4115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:256px;
  width:70px;
  height:12px;
  display:flex;
}
#u4116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:301px;
  width:154px;
  height:41px;
  display:flex;
}
#u4117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4118 label {
  left:0px;
  width:100%;
}
#u4118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:314px;
  width:102px;
  height:15px;
  display:flex;
}
#u4118 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4118_img.selected {
}
#u4118.selected {
}
#u4118_img.disabled {
}
#u4118.disabled {
}
#u4118_img.selectedDisabled {
}
#u4118.selectedDisabled {
}
#u4118_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:86px;
  word-wrap:break-word;
  text-transform:none;
}
#u4118_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4119 label {
  left:0px;
  width:100%;
}
#u4119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:314px;
  width:100px;
  height:15px;
  display:flex;
}
#u4119 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4119_img.selected {
}
#u4119.selected {
}
#u4119_img.disabled {
}
#u4119.disabled {
}
#u4119_img.selectedDisabled {
}
#u4119.selectedDisabled {
}
#u4119_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4119_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:404px;
  width:300px;
  height:57px;
  display:flex;
}
#u4120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4121_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1007px;
  height:19px;
}
#u4121p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:1006px;
  height:18px;
  -webkit-transform:rotate(-0.361808715683024deg);
  -moz-transform:rotate(-0.361808715683024deg);
  -ms-transform:rotate(-0.361808715683024deg);
  transform:rotate(-0.361808715683024deg);
}
#u4121p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:18px;
}
#u4121p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.361808715683024deg);
  -moz-transform:rotate(-0.361808715683024deg);
  -ms-transform:rotate(-0.361808715683024deg);
  transform:rotate(-0.361808715683024deg);
}
#u4121p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4121p002 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:-11px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(179.638191284317deg);
  -moz-transform:rotate(179.638191284317deg);
  -ms-transform:rotate(179.638191284317deg);
  transform:rotate(179.638191284317deg);
}
#u4121p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:434px;
  width:989px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.638191284316976deg);
  -moz-transform:rotate(-0.638191284316976deg);
  -ms-transform:rotate(-0.638191284316976deg);
  transform:rotate(-0.638191284316976deg);
}
#u4121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:405px;
  width:140px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u4122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:737px;
  width:80px;
  height:16px;
  display:flex;
}
#u4123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4124_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1007px;
  height:19px;
}
#u4124p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:1006px;
  height:18px;
  -webkit-transform:rotate(-0.361808715683024deg);
  -moz-transform:rotate(-0.361808715683024deg);
  -ms-transform:rotate(-0.361808715683024deg);
  transform:rotate(-0.361808715683024deg);
}
#u4124p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:18px;
}
#u4124p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-0.361808715683024deg);
  -moz-transform:rotate(-0.361808715683024deg);
  -ms-transform:rotate(-0.361808715683024deg);
  transform:rotate(-0.361808715683024deg);
}
#u4124p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4124p002 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(179.638191284317deg);
  -moz-transform:rotate(179.638191284317deg);
  -ms-transform:rotate(179.638191284317deg);
  transform:rotate(179.638191284317deg);
}
#u4124p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:747px;
  width:989px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.638191284316976deg);
  -moz-transform:rotate(-0.638191284316976deg);
  -ms-transform:rotate(-0.638191284316976deg);
  transform:rotate(-0.638191284316976deg);
}
#u4124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:726px;
  width:224px;
  height:59px;
  display:flex;
  color:#D9001B;
}
#u4125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:936px;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:204px;
  height:936px;
  display:flex;
}
#u4127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(240, 250, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#027DB4;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:81px;
  width:99px;
  height:19px;
  display:flex;
  color:#027DB4;
}
#u4128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:179px;
  width:99px;
  height:19px;
  display:flex;
}
#u4129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:179px;
  width:99px;
  height:19px;
  display:flex;
}
#u4130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:227px;
  width:99px;
  height:19px;
  display:flex;
}
#u4131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:274px;
  width:99px;
  height:19px;
  display:flex;
}
#u4132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:324px;
  width:99px;
  height:19px;
  display:flex;
}
#u4133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:365px;
  width:181px;
  height:157px;
  display:flex;
}
#u4134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:130px;
  width:99px;
  height:19px;
  display:flex;
}
#u4135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:72px;
  width:146px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:121px;
  width:146px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:170px;
  width:146px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:218px;
  width:146px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:265px;
  width:146px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:315px;
  width:146px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:87px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:717px;
  width:488px;
  height:87px;
  display:flex;
}
#u4142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:778px;
  width:370px;
  height:48px;
  display:flex;
}
#u4143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:795px;
  width:62px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:784px;
  width:98px;
  height:37px;
  display:flex;
}
#u4145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:787px;
  width:13px;
  height:16px;
  display:flex;
}
#u4146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:722px;
  width:511px;
  height:48px;
  display:flex;
}
#u4147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:737px;
  width:67px;
  height:28px;
  display:flex;
}
#u4148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:795px;
  width:60px;
  height:16px;
  display:flex;
}
#u4149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:783px;
  width:98px;
  height:37px;
  display:flex;
}
#u4150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:795px;
  width:60px;
  height:16px;
  display:flex;
}
#u4151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:787px;
  width:13px;
  height:16px;
  display:flex;
}
#u4152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:583px;
  width:300px;
  height:50px;
  display:flex;
}
#u4153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:607px;
  width:70px;
  height:16px;
  display:flex;
}
#u4154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:600px;
  width:67px;
  height:28px;
  display:flex;
}
#u4155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:592px;
  width:114px;
  height:48px;
  display:flex;
}
#u4156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:598px;
  width:76px;
  height:37px;
  display:flex;
}
#u4157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:609px;
  width:28px;
  height:17px;
  display:flex;
}
#u4158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:602px;
  width:48px;
  height:17px;
  display:flex;
}
#u4159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4160_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1167px;
  height:19px;
}
#u4160p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1170px;
  height:22px;
  -webkit-transform:rotate(0.374995714707876deg);
  -moz-transform:rotate(0.374995714707876deg);
  -ms-transform:rotate(0.374995714707876deg);
  transform:rotate(0.374995714707876deg);
}
#u4160p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:22px;
}
#u4160p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(0.374995714707876deg);
  -moz-transform:rotate(0.374995714707876deg);
  -ms-transform:rotate(0.374995714707876deg);
  transform:rotate(0.374995714707876deg);
}
#u4160p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4160p002 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180.374995714708deg);
  -moz-transform:rotate(180.374995714708deg);
  -ms-transform:rotate(180.374995714708deg);
  transform:rotate(180.374995714708deg);
}
#u4160p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:614px;
  width:1149px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.374995714707876deg);
  -moz-transform:rotate(-0.374995714707876deg);
  -ms-transform:rotate(-0.374995714707876deg);
  transform:rotate(-0.374995714707876deg);
}
#u4160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:583px;
  width:140px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u4161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:892px;
  width:233px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:56px;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:826px;
  width:1673px;
  height:56px;
  display:flex;
}
#u4163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:896px;
  width:140px;
  height:32px;
  display:flex;
}
#u4164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:908px;
  width:392px;
  height:59px;
  display:flex;
  color:#D9001B;
}
#u4165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1007px;
  height:19px;
}
#u4166p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:1006px;
  height:18px;
  -webkit-transform:rotate(-0.361808715683024deg);
  -moz-transform:rotate(-0.361808715683024deg);
  -ms-transform:rotate(-0.361808715683024deg);
  transform:rotate(-0.361808715683024deg);
}
#u4166p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:18px;
}
#u4166p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.361808715683024deg);
  -moz-transform:rotate(-0.361808715683024deg);
  -ms-transform:rotate(-0.361808715683024deg);
  transform:rotate(-0.361808715683024deg);
}
#u4166p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4166p002 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:-11px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(179.638191284317deg);
  -moz-transform:rotate(179.638191284317deg);
  -ms-transform:rotate(179.638191284317deg);
  transform:rotate(179.638191284317deg);
}
#u4166p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:912px;
  width:989px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.638191284316976deg);
  -moz-transform:rotate(-0.638191284316976deg);
  -ms-transform:rotate(-0.638191284316976deg);
  transform:rotate(-0.638191284316976deg);
}
#u4166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:1555px;
  top:172px;
  width:300px;
  height:39px;
  display:flex;
}
#u4167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:302px;
  width:98px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:731px;
  width:125px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:592px;
  width:84px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:726px;
  width:38px;
  height:50px;
  display:flex;
}
#u4171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:297px;
  width:38px;
  height:50px;
  display:flex;
}
#u4172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
