body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1904px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:129px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:129px;
  display:flex;
}
#u3210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:129px;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:1632px;
  height:129px;
  display:flex;
}
#u3211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:809px;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:107px;
  width:1899px;
  height:809px;
  display:flex;
}
#u3212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
