body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1886px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:938px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-45px;
  width:1919px;
  height:938px;
  display:flex;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:411px;
  height:19px;
}
#u64p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:398px;
  height:6px;
  -webkit-transform:rotate(-0.0343585455824673deg);
  -moz-transform:rotate(-0.0343585455824673deg);
  -ms-transform:rotate(-0.0343585455824673deg);
  transform:rotate(-0.0343585455824673deg);
}
#u64p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:6px;
}
#u64p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.0343585455824673deg);
  -moz-transform:rotate(-0.0343585455824673deg);
  -ms-transform:rotate(-0.0343585455824673deg);
  transform:rotate(-0.0343585455824673deg);
}
#u64p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u64p002 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.034358545582deg);
  -moz-transform:rotate(-180.034358545582deg);
  -ms-transform:rotate(-180.034358545582deg);
  transform:rotate(-180.034358545582deg);
}
#u64p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1443px;
  top:137px;
  width:393px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(7.03435854558247deg);
  -moz-transform:rotate(7.03435854558247deg);
  -ms-transform:rotate(7.03435854558247deg);
  transform:rotate(7.03435854558247deg);
  color:#D9001B;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1789px;
  top:174px;
  width:259px;
  height:96px;
  display:flex;
  color:#D9001B;
}
#u65 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
