body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-45px;
  width:1122px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:52px;
  width:993px;
  height:550px;
  display:flex;
}
#u4133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:2px;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:100px;
  width:995px;
  height:1px;
  display:flex;
}
#u4134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:70px;
  width:56px;
  height:16px;
  display:flex;
}
#u4135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:152px;
  width:28px;
  height:16px;
  display:flex;
}
#u4136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:152px;
  width:56px;
  height:22px;
  display:flex;
}
#u4137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:150px;
  width:56px;
  height:16px;
  display:flex;
}
#u4138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:173px;
  width:890px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.000226768820277941deg);
  -moz-transform:rotate(0.000226768820277941deg);
  -ms-transform:rotate(0.000226768820277941deg);
  transform:rotate(0.000226768820277941deg);
}
#u4139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:192px;
  width:8px;
  height:16px;
  display:flex;
}
#u4140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:192px;
  width:207px;
  height:16px;
  display:flex;
}
#u4141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:559px;
  width:281px;
  height:16px;
  display:flex;
}
#u4142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:428px;
  width:153px;
  height:40px;
  display:flex;
}
#u4143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:190px;
  width:207px;
  height:16px;
  display:flex;
}
#u4144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:234px;
  width:140px;
  height:40px;
  display:flex;
}
#u4145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:150px;
  width:56px;
  height:16px;
  display:flex;
}
#u4146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:190px;
  width:49px;
  height:16px;
  display:flex;
}
#u4147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:158px;
  width:69px;
  height:16px;
  display:flex;
  color:#409EFF;
}
#u4148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4149_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:218px;
  height:19px;
}
#u4149p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:204px;
  height:6px;
}
#u4149p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:6px;
}
#u4149p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u4149p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4149p002 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4149p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:189px;
  width:200px;
  height:1px;
  display:flex;
}
#u4149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:142px;
  width:119px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u4150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:83px;
  width:21px;
  height:16px;
  display:flex;
}
#u4151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:428px;
  width:294px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
