body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-136px;
  width:1020.93483076979px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:131px;
}
#u13480 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:64px;
  width:623px;
  height:131px;
  display:flex;
}
#u13480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:292px;
}
#u13481 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:195px;
  width:623px;
  height:292px;
  display:flex;
}
#u13481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:71px;
}
#u13482 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:487px;
  width:623px;
  height:71px;
  display:flex;
}
#u13482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13483 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:90px;
  width:162px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13484 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:162px;
  width:89px;
  height:21px;
  display:flex;
  text-align:right;
}
#u13484 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13485_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:505px;
  height:19px;
}
#u13485p000 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-7px;
  width:500px;
  height:14px;
  -webkit-transform:rotate(0.448480186269985deg);
  -moz-transform:rotate(0.448480186269985deg);
  -ms-transform:rotate(0.448480186269985deg);
  transform:rotate(0.448480186269985deg);
}
#u13485p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:14px;
}
#u13485p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.448480186269985deg);
  -moz-transform:rotate(0.448480186269985deg);
  -ms-transform:rotate(0.448480186269985deg);
  transform:rotate(0.448480186269985deg);
}
#u13485p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13485p002 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:-11px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180.44848018627deg);
  -moz-transform:rotate(180.44848018627deg);
  -ms-transform:rotate(180.44848018627deg);
  transform:rotate(180.44848018627deg);
}
#u13485p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u13485 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:509px;
  width:487px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-1.44848018626999deg);
  -moz-transform:rotate(-1.44848018626999deg);
  -ms-transform:rotate(-1.44848018626999deg);
  transform:rotate(-1.44848018626999deg);
}
#u13485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13486 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:445px;
  width:252px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u13486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13487 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:248px;
  width:114px;
  height:21px;
  display:flex;
  text-align:right;
}
#u13487 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u13488 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:245px;
  width:85px;
  height:92px;
  display:flex;
  font-size:36px;
}
#u13488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u13489 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:335px;
  width:114px;
  height:21px;
  display:flex;
  text-align:right;
}
#u13489 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:133px;
}
#u13490 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:364px;
  width:506px;
  height:133px;
  display:flex;
}
#u13490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13491 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:503px;
  width:137px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13492 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:90px;
  width:137px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13493 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:471px;
  width:168px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u13493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u13494 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:205px;
  width:122px;
  height:21px;
  display:flex;
  text-align:right;
}
#u13494 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13495_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u13495 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:199px;
  width:365px;
  height:35px;
  display:flex;
  color:#AAAAAA;
}
#u13495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13495_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u13495.disabled {
}
