body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-58px;
  width:2161px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:959px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:73px;
  width:719px;
  height:959px;
  display:flex;
}
#u4019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:893px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:138px;
  width:716px;
  height:893px;
  display:flex;
}
#u4020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:102px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:852px;
  width:113px;
  height:102px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:179px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:412px;
  width:201px;
  height:179px;
  display:flex;
}
#u4022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4B7902;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:441px;
  width:173px;
  height:16px;
  display:flex;
  color:#4B7902;
}
#u4023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:179px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:609px;
  width:201px;
  height:179px;
  display:flex;
}
#u4024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:634px;
  width:89px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u4025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:535px;
  width:148px;
  height:48px;
  display:flex;
  color:#D9001B;
}
#u4026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:692px;
  width:105px;
  height:30px;
  display:flex;
}
#u4027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:495px;
  width:105px;
  height:30px;
  display:flex;
}
#u4028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:720px;
  width:53px;
  height:125px;
  display:flex;
}
#u4029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:2px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:779px;
  width:53px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.664754703622173deg);
  -moz-transform:rotate(-0.664754703622173deg);
  -ms-transform:rotate(-0.664754703622173deg);
  transform:rotate(-0.664754703622173deg);
}
#u4030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:731px;
  width:19px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4031 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4031_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:793px;
  width:11px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4032_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:87px;
  width:154px;
  height:39px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4033 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:956px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:84px;
  width:719px;
  height:956px;
  display:flex;
}
#u4034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:886px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:146px;
  width:715px;
  height:886px;
  display:flex;
}
#u4035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:97px;
  width:154px;
  height:39px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4036 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4037_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:166px;
  width:643px;
  height:41px;
  display:flex;
}
#u4037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4037_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037.disabled {
}
#u4038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:174px;
  width:36px;
  height:26px;
  display:flex;
}
#u4038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:179px;
  width:84px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4039_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:236px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:796px;
  width:719px;
  height:236px;
  display:flex;
}
#u4040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:882px;
  width:62px;
  height:16px;
  display:flex;
}
#u4041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4041_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4042_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:873px;
  width:592px;
  height:36px;
  display:flex;
  color:#7F7F7F;
}
#u4042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4042_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4042.disabled {
}
#u4043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:954px;
  width:56px;
  height:16px;
  display:flex;
}
#u4043 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4043_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:1064px;
  width:140px;
  height:40px;
  display:flex;
}
#u4044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:837px;
  width:246px;
  height:16px;
  display:flex;
}
#u4045 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4045_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:837px;
  width:62px;
  height:16px;
  display:flex;
}
#u4046 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4046_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4047_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:702px;
  height:19px;
}
#u4047p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:694px;
  height:10px;
  -webkit-transform:rotate(-0.268975798921822deg);
  -moz-transform:rotate(-0.268975798921822deg);
  -ms-transform:rotate(-0.268975798921822deg);
  transform:rotate(-0.268975798921822deg);
}
#u4047p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:10px;
}
#u4047p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-0.268975798921822deg);
  -moz-transform:rotate(-0.268975798921822deg);
  -ms-transform:rotate(-0.268975798921822deg);
  transform:rotate(-0.268975798921822deg);
}
#u4047p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4047p002 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(179.731024201078deg);
  -moz-transform:rotate(179.731024201078deg);
  -ms-transform:rotate(179.731024201078deg);
  transform:rotate(179.731024201078deg);
}
#u4047p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:779px;
  width:684px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-23.7310242010782deg);
  -moz-transform:rotate(-23.7310242010782deg);
  -ms-transform:rotate(-23.7310242010782deg);
  transform:rotate(-23.7310242010782deg);
}
#u4047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:742px;
  width:182px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u4048 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4048_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:1925px;
  top:641px;
  width:294px;
  height:60px;
  display:flex;
  color:#D9001B;
}
#u4049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:412px;
  width:170px;
  height:170px;
  display:flex;
}
#u4050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:77px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:442px;
  width:50px;
  height:67px;
  display:flex;
}
#u4051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 22.1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:445px;
  width:40px;
  height:39px;
  display:flex;
}
#u4052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:315px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:1761px;
  top:386px;
  width:44px;
  height:315px;
  display:flex;
}
#u4053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:676px;
  height:19px;
}
#u4054p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:662px;
  height:6px;
  -webkit-transform:rotate(-0.0434658077481984deg);
  -moz-transform:rotate(-0.0434658077481984deg);
  -ms-transform:rotate(-0.0434658077481984deg);
  transform:rotate(-0.0434658077481984deg);
}
#u4054p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:6px;
}
#u4054p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(-0.0434658077481984deg);
  -moz-transform:rotate(-0.0434658077481984deg);
  -ms-transform:rotate(-0.0434658077481984deg);
  transform:rotate(-0.0434658077481984deg);
}
#u4054p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u4054p002 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(-180.043465807748deg);
  -moz-transform:rotate(-180.043465807748deg);
  -ms-transform:rotate(-180.043465807748deg);
  transform:rotate(-180.043465807748deg);
}
#u4054p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:619px;
  width:658px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(25.0434658077482deg);
  -moz-transform:rotate(25.0434658077482deg);
  -ms-transform:rotate(25.0434658077482deg);
  transform:rotate(25.0434658077482deg);
}
#u4054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:84px;
  width:113px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:68px;
  width:113px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:1886px;
  top:882px;
  width:266px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u4057 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4057_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1055px;
  width:56px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u4058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:924px;
  width:62px;
  height:16px;
  display:flex;
}
#u4059 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4059_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:1769px;
  top:263px;
  width:34px;
  height:30px;
  display:flex;
}
#u4060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:1769px;
  top:293px;
  width:34px;
  height:30px;
  display:flex;
}
#u4061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4062 label {
  left:0px;
  width:100%;
}
#u4062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:926px;
  width:100px;
  height:15px;
  display:flex;
}
#u4062 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4062_img.selected {
}
#u4062.selected {
}
#u4062_img.disabled {
}
#u4062.disabled {
}
#u4062_img.selectedDisabled {
}
#u4062.selectedDisabled {
}
#u4062_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4062_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4063 label {
  left:0px;
  width:100%;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:925px;
  width:100px;
  height:15px;
  display:flex;
}
#u4063 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4063_img.selected {
}
#u4063.selected {
}
#u4063_img.disabled {
}
#u4063.disabled {
}
#u4063_img.selectedDisabled {
}
#u4063.selectedDisabled {
}
#u4063_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4063_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4064 label {
  left:0px;
  width:100%;
}
#u4064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:954px;
  width:100px;
  height:15px;
  display:flex;
}
#u4064 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4064_img.selected {
}
#u4064.selected {
}
#u4064_img.disabled {
}
#u4064.disabled {
}
#u4064_img.selectedDisabled {
}
#u4064.selectedDisabled {
}
#u4064_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4064_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4065 label {
  left:0px;
  width:100%;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:955px;
  width:100px;
  height:15px;
  display:flex;
  color:#D7D7D7;
}
#u4065 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4065_img.selected {
}
#u4065.selected {
}
#u4065_img.disabled {
}
#u4065.disabled {
}
#u4065_img.selectedDisabled {
}
#u4065.selectedDisabled {
}
#u4065_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4065_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4066 label {
  left:0px;
  width:100%;
}
#u4066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:954px;
  width:100px;
  height:15px;
  display:flex;
  color:#D7D7D7;
}
#u4066 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4066_img.selected {
}
#u4066.selected {
}
#u4066_img.disabled {
}
#u4066.disabled {
}
#u4066_img.selectedDisabled {
}
#u4066.selectedDisabled {
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4066_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4067 label {
  left:0px;
  width:100%;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:1555px;
  top:954px;
  width:100px;
  height:15px;
  display:flex;
  color:#D7D7D7;
}
#u4067 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4067_img.selected {
}
#u4067.selected {
}
#u4067_img.disabled {
}
#u4067.disabled {
}
#u4067_img.selectedDisabled {
}
#u4067.selectedDisabled {
}
#u4067_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4067_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:982px;
  width:56px;
  height:16px;
  display:flex;
}
#u4068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4068_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4069 label {
  left:0px;
  width:100%;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:983px;
  width:121px;
  height:15px;
  display:flex;
  color:#D7D7D7;
}
#u4069 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4069_img.selected {
}
#u4069.selected {
}
#u4069_img.disabled {
}
#u4069.disabled {
}
#u4069_img.selectedDisabled {
}
#u4069.selectedDisabled {
}
#u4069_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:105px;
  word-wrap:break-word;
  text-transform:none;
}
#u4069_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4070 label {
  left:0px;
  width:100%;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:982px;
  width:100px;
  height:15px;
  display:flex;
  color:#D7D7D7;
}
#u4070 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4070_img.selected {
}
#u4070.selected {
}
#u4070_img.disabled {
}
#u4070.disabled {
}
#u4070_img.selectedDisabled {
}
#u4070.selectedDisabled {
}
#u4070_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4070_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:248px;
  width:294px;
  height:60px;
  display:flex;
  color:#D9001B;
}
#u4071 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:237px;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1125px;
  width:450px;
  height:237px;
  display:flex;
}
#u4072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
