body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1922px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1579px;
  height:773px;
}
#u12299 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:76px;
  width:1579px;
  height:773px;
  display:flex;
}
#u12299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1547px;
  height:739px;
}
#u12300 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:882px;
  width:1547px;
  height:739px;
  display:flex;
}
#u12300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:933px;
}
#u12301 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1657px;
  width:1522px;
  height:933px;
  display:flex;
}
#u12301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:527px;
}
#u12302 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:2569px;
  width:1549px;
  height:527px;
  display:flex;
}
#u12302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1548px;
  height:675px;
}
#u12303 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:3129px;
  width:1548px;
  height:675px;
  display:flex;
}
#u12303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:935px;
}
#u12304 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:3834px;
  width:1906px;
  height:935px;
  display:flex;
}
#u12304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1585px;
  height:563px;
}
#u12305 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:4866px;
  width:1585px;
  height:563px;
  display:flex;
}
#u12305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
