
#u1104 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:588px;
  width:56px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u1104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:611px;
  width:571px;
  height:428px;
  display:flex;
}
#u1105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:2px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:646px;
  width:571px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.214305895862755deg);
  -moz-transform:rotate(-0.214305895862755deg);
  -ms-transform:rotate(-0.214305895862755deg);
  transform:rotate(-0.214305895862755deg);
}
#u1106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:622px;
  width:28px;
  height:16px;
  display:flex;
}
#u1107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2395px;
  top:622px;
  width:26px;
  height:16px;
  display:flex;
}
#u1108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:1878px;
  top:677px;
  width:113px;
  height:16px;
  display:flex;
}
#u1109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1109_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:702px;
  width:264px;
  height:16px;
  display:flex;
}
#u1110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:2px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:743px;
  width:573px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.301025844096372deg);
  -moz-transform:rotate(-0.301025844096372deg);
  -ms-transform:rotate(-0.301025844096372deg);
  transform:rotate(-0.301025844096372deg);
}
#u1111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:1878px;
  top:770px;
  width:113px;
  height:16px;
  display:flex;
}
#u1112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:795px;
  width:264px;
  height:16px;
  display:flex;
}
#u1113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2066px;
  top:967px;
  width:140px;
  height:40px;
  display:flex;
}
#u1114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:508px;
  width:341px;
  height:3065px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1893px;
  height:921px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:5841px;
  width:1893px;
  height:921px;
  display:flex;
}
#u1116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:471px;
  height:19px;
}
#u1117p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:462px;
  height:10px;
  -webkit-transform:rotate(0.378313137050334deg);
  -moz-transform:rotate(0.378313137050334deg);
  -ms-transform:rotate(0.378313137050334deg);
  transform:rotate(0.378313137050334deg);
}
#u1117p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:10px;
}
#u1117p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.378313137050334deg);
  -moz-transform:rotate(0.378313137050334deg);
  -ms-transform:rotate(0.378313137050334deg);
  transform:rotate(0.378313137050334deg);
}
#u1117p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1117p002 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.37831313705deg);
  -moz-transform:rotate(180.37831313705deg);
  -ms-transform:rotate(180.37831313705deg);
  transform:rotate(180.37831313705deg);
}
#u1117p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:230px;
  width:453px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-33.3783131370503deg);
  -moz-transform:rotate(-33.3783131370503deg);
  -ms-transform:rotate(-33.3783131370503deg);
  transform:rotate(-33.3783131370503deg);
}
#u1117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:1898px;
  top:89px;
  width:708px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u1118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1118_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:485px;
  width:28px;
  height:16px;
  display:flex;
  color:#02A7F0;
}
#u1119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:483px;
  width:1px;
  height:17px;
  display:flex;
  -webkit-transform:rotate(-1.4602888772585deg);
  -moz-transform:rotate(-1.4602888772585deg);
  -ms-transform:rotate(-1.4602888772585deg);
  transform:rotate(-1.4602888772585deg);
}
#u1120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:484px;
  width:42px;
  height:16px;
  display:flex;
}
#u1121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1223px;
  width:252px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u1122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1248px;
  width:210px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u1123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:2px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:834px;
  width:573px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.301025844096372deg);
  -moz-transform:rotate(-0.301025844096372deg);
  -ms-transform:rotate(-0.301025844096372deg);
  transform:rotate(-0.301025844096372deg);
}
#u1124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:1879px;
  top:861px;
  width:113px;
  height:16px;
  display:flex;
}
#u1125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:1851px;
  top:886px;
  width:211px;
  height:16px;
  display:flex;
}
#u1126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:363px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2656px;
  top:177px;
  width:341px;
  height:363px;
  display:flex;
}
#u1127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2677px;
  top:458px;
  width:300px;
  height:54px;
  display:flex;
}
#u1128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2790px;
  top:363px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1129_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2677px;
  top:200px;
  width:98px;
  height:16px;
  display:flex;
}
#u1130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2697px;
  top:424px;
  width:65px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u1131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2803px;
  top:424px;
  width:65px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u1132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2897px;
  top:424px;
  width:65px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u1133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2784px;
  top:262px;
  width:103px;
  height:92px;
  display:flex;
}
#u1134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2850px;
  top:262px;
  width:69px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u1135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2890px;
  top:365px;
  width:29px;
  height:17px;
  display:flex;
  font-size:10px;
}
#u1136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2677px;
  top:254px;
  width:47px;
  height:16px;
  display:flex;
}
#u1137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:206px;
  background:inherit;
  background-color:rgba(85, 85, 85, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2671px;
  top:241px;
  width:310px;
  height:206px;
  display:flex;
}
#u1138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2808px;
  top:333px;
  width:54px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:456px;
  width:84px;
  height:16px;
  display:flex;
  color:#02A7F0;
}
#u1140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1360px;
  height:19px;
}
#u1141p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1348px;
  height:6px;
  -webkit-transform:rotate(-0.0551540475636019deg);
  -moz-transform:rotate(-0.0551540475636019deg);
  -ms-transform:rotate(-0.0551540475636019deg);
  transform:rotate(-0.0551540475636019deg);
}
#u1141p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:6px;
}
#u1141p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(-0.0551540475636019deg);
  -moz-transform:rotate(-0.0551540475636019deg);
  -ms-transform:rotate(-0.0551540475636019deg);
  transform:rotate(-0.0551540475636019deg);
}
#u1141p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u1141p002 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(-180.055154047564deg);
  -moz-transform:rotate(-180.055154047564deg);
  -ms-transform:rotate(-180.055154047564deg);
  transform:rotate(-180.055154047564deg);
}
#u1141p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:541px;
  width:1342px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(6.0551540475636deg);
  -moz-transform:rotate(6.0551540475636deg);
  -ms-transform:rotate(6.0551540475636deg);
  transform:rotate(6.0551540475636deg);
}
#u1141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2471px;
  top:598px;
  width:364px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u1142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:363px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:3054px;
  top:178px;
  width:341px;
  height:363px;
  display:flex;
}
#u1143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:3116px;
  top:351px;
  width:228px;
  height:17px;
  display:flex;
}
#u1144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:3175px;
  top:241px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2930px;
  top:638px;
  width:182px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u1146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:192px;
  height:19px;
}
#u1147p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:180px;
  height:6px;
  -webkit-transform:rotate(-0.00209381189878144deg);
  -moz-transform:rotate(-0.00209381189878144deg);
  -ms-transform:rotate(-0.00209381189878144deg);
  transform:rotate(-0.00209381189878144deg);
}
#u1147p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:6px;
}
#u1147p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.00209381189878144deg);
  -moz-transform:rotate(-0.00209381189878144deg);
  -ms-transform:rotate(-0.00209381189878144deg);
  transform:rotate(-0.00209381189878144deg);
}
#u1147p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1147p002 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.002093811899deg);
  -moz-transform:rotate(-180.002093811899deg);
  -ms-transform:rotate(-180.002093811899deg);
  transform:rotate(-180.002093811899deg);
}
#u1147p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2841px;
  top:558px;
  width:174px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(58.0020938118988deg);
  -moz-transform:rotate(58.0020938118988deg);
  -ms-transform:rotate(58.0020938118988deg);
  transform:rotate(58.0020938118988deg);
}
#u1147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:1753px;
  top:1346px;
  width:364px;
  height:165px;
  display:flex;
  color:#D9001B;
}
#u1148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline ;
  color:#D7D7D7;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2793px;
  top:391px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline ;
  color:#D7D7D7;
}
#u1149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
