body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2234px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1041px;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1041px;
  display:flex;
}
#u3456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3457_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1233px;
  height:19px;
}
#u3457p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-11px;
  width:1236px;
  height:22px;
  -webkit-transform:rotate(-0.414661247246593deg);
  -moz-transform:rotate(-0.414661247246593deg);
  -ms-transform:rotate(-0.414661247246593deg);
  transform:rotate(-0.414661247246593deg);
}
#u3457p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1236px;
  height:22px;
}
#u3457p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-0.414661247246593deg);
  -moz-transform:rotate(-0.414661247246593deg);
  -ms-transform:rotate(-0.414661247246593deg);
  transform:rotate(-0.414661247246593deg);
}
#u3457p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3457p002 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.414661247247deg);
  -moz-transform:rotate(-180.414661247247deg);
  -ms-transform:rotate(-180.414661247247deg);
  transform:rotate(-180.414661247247deg);
}
#u3457p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:967px;
  width:1215px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(1.41466124724659deg);
  -moz-transform:rotate(1.41466124724659deg);
  -ms-transform:rotate(1.41466124724659deg);
  transform:rotate(1.41466124724659deg);
}
#u3457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:1954px;
  top:926px;
  width:280px;
  height:32px;
  display:flex;
  color:#D9001B;
}
#u3458 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3458_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1494px;
  height:347px;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:489px;
  width:1494px;
  height:347px;
  display:flex;
}
#u3459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:1592px;
  top:892px;
  width:98px;
  height:16px;
  display:flex;
}
#u3460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3460_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:74px;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:842px;
  width:112px;
  height:74px;
  display:flex;
}
#u3461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:66px;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:850px;
  width:68px;
  height:66px;
  display:flex;
}
#u3462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:67px;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:849px;
  width:133px;
  height:67px;
  display:flex;
}
#u3463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:120px;
  width:41px;
  height:41px;
  display:flex;
}
#u3464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:216px;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:498px;
  width:1029px;
  height:216px;
  display:flex;
}
#u3465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:67px;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:847px;
  width:76px;
  height:67px;
  display:flex;
}
#u3466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:854px;
  width:67px;
  height:58px;
  display:flex;
}
#u3467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:850px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:848px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:847px;
  width:66px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
