body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2188px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:129px;
}
#u10122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:129px;
  display:flex;
}
#u10122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:129px;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:1632px;
  height:129px;
  display:flex;
}
#u10123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1644px;
  height:49px;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:129px;
  width:1644px;
  height:49px;
  display:flex;
}
#u10124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:764px;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:327px;
  width:1670px;
  height:764px;
  display:flex;
}
#u10125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:769px;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:329px;
  width:28px;
  height:769px;
  display:flex;
}
#u10126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:769px;
}
#u10127 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:329px;
  width:1060px;
  height:769px;
  display:flex;
}
#u10127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1627px;
  height:837px;
}
#u10128 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1040px;
  width:1627px;
  height:837px;
  display:flex;
}
#u10128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:746px;
}
#u10129 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:1032px;
  width:1082px;
  height:746px;
  display:flex;
}
#u10129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10130 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:336px;
  width:210px;
  height:1434px;
}
#u10131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:46px;
}
#u10131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:603px;
}
#u10132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:210px;
  height:603px;
  display:flex;
}
#u10132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:461px;
}
#u10133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:649px;
  width:210px;
  height:461px;
  display:flex;
}
#u10133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:324px;
}
#u10134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1110px;
  width:210px;
  height:324px;
  display:flex;
}
#u10134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10135 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:588px;
  width:18px;
  height:105px;
  display:flex;
  font-size:18px;
}
#u10135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10136 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1166px;
  width:34px;
  height:116px;
  display:flex;
  font-size:18px;
}
#u10136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10137 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1567px;
  width:26px;
  height:126px;
  display:flex;
  font-size:18px;
}
#u10137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10138 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:401px;
  width:22px;
  height:16px;
  display:flex;
}
#u10138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10139 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:447px;
  width:22px;
  height:16px;
  display:flex;
}
#u10139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10140 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:494px;
  width:22px;
  height:16px;
  display:flex;
}
#u10140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10141 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:539px;
  width:22px;
  height:16px;
  display:flex;
}
#u10141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10142 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:588px;
  width:22px;
  height:16px;
  display:flex;
}
#u10142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10143 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:633px;
  width:22px;
  height:16px;
  display:flex;
}
#u10143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10144 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:677px;
  width:22px;
  height:16px;
  display:flex;
}
#u10144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10145 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:722px;
  width:22px;
  height:16px;
  display:flex;
}
#u10145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10146 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:769px;
  width:22px;
  height:16px;
  display:flex;
}
#u10146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10147 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:816px;
  width:22px;
  height:16px;
  display:flex;
}
#u10147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10148 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:860px;
  width:22px;
  height:16px;
  display:flex;
}
#u10148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10149_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:295px;
  height:19px;
}
#u10149p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:282px;
  height:6px;
  -webkit-transform:rotate(-0.226411956722868deg);
  -moz-transform:rotate(-0.226411956722868deg);
  -ms-transform:rotate(-0.226411956722868deg);
  transform:rotate(-0.226411956722868deg);
}
#u10149p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:6px;
}
#u10149p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.226411956722868deg);
  -moz-transform:rotate(-0.226411956722868deg);
  -ms-transform:rotate(-0.226411956722868deg);
  transform:rotate(-0.226411956722868deg);
}
#u10149p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u10149p002 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.226411956723deg);
  -moz-transform:rotate(-180.226411956723deg);
  -ms-transform:rotate(-180.226411956723deg);
  transform:rotate(-180.226411956723deg);
}
#u10149p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10149 {
  border-width:0px;
  position:absolute;
  left:1712px;
  top:641px;
  width:277px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(3.22641195672287deg);
  -moz-transform:rotate(3.22641195672287deg);
  -ms-transform:rotate(3.22641195672287deg);
  transform:rotate(3.22641195672287deg);
}
#u10149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10150 {
  border-width:0px;
  position:absolute;
  left:1894px;
  top:657px;
  width:294px;
  height:48px;
  display:flex;
  color:#D9001B;
}
#u10150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10151 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1817px;
  width:102px;
  height:46px;
  display:flex;
}
#u10151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:1809px;
  width:259px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10153 {
  border-width:0px;
  position:absolute;
  left:1707px;
  top:1688px;
  width:427px;
  height:240px;
  display:flex;
}
#u10153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:127px;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:1754px;
  width:236px;
  height:127px;
  display:flex;
}
#u10154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:1958px;
  width:210px;
  height:24px;
  display:flex;
  color:#D9001B;
}
#u10155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10156 {
  border-width:0px;
  position:absolute;
  left:1886px;
  top:1837px;
  width:1px;
  height:17px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#4B7902;
}
#u10157 {
  border-width:0px;
  position:absolute;
  left:1886px;
  top:1839px;
  width:117px;
  height:17px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#4B7902;
}
#u10157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1492px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10158 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:215px;
  width:1492px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u10158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1492px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10159 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:308px;
  width:1492px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10160 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:340px;
  width:300px;
  height:39px;
  display:flex;
}
#u10160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10161 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:350px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10162 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:353px;
  width:32px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10163 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:401px;
  width:56px;
  height:16px;
  display:flex;
}
#u10163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10164 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:447px;
  width:56px;
  height:26px;
  display:flex;
}
#u10164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10165 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:494px;
  width:56px;
  height:16px;
  display:flex;
}
#u10165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10166 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:542px;
  width:56px;
  height:16px;
  display:flex;
}
#u10166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10167 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:588px;
  width:56px;
  height:26px;
  display:flex;
}
#u10167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10168 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:635px;
  width:56px;
  height:16px;
  display:flex;
}
#u10168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10169 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:681px;
  width:56px;
  height:16px;
  display:flex;
}
#u10169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10170 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:727px;
  width:56px;
  height:26px;
  display:flex;
}
#u10170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10171 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:774px;
  width:56px;
  height:16px;
  display:flex;
}
#u10171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10172 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:816px;
  width:56px;
  height:16px;
  display:flex;
}
#u10172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10173 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:862px;
  width:56px;
  height:26px;
  display:flex;
}
#u10173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10174 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:909px;
  width:56px;
  height:16px;
  display:flex;
}
#u10174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10175 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:954px;
  width:56px;
  height:16px;
  display:flex;
}
#u10175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10176 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1000px;
  width:56px;
  height:26px;
  display:flex;
}
#u10176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10177 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1047px;
  width:56px;
  height:16px;
  display:flex;
}
#u10177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10178 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1098px;
  width:56px;
  height:16px;
  display:flex;
}
#u10178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10179 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1144px;
  width:56px;
  height:26px;
  display:flex;
}
#u10179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10180 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1191px;
  width:56px;
  height:16px;
  display:flex;
}
#u10180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10181 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1234px;
  width:56px;
  height:16px;
  display:flex;
}
#u10181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10182 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1280px;
  width:56px;
  height:26px;
  display:flex;
}
#u10182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10183 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1327px;
  width:56px;
  height:16px;
  display:flex;
}
#u10183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10184 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1369px;
  width:56px;
  height:16px;
  display:flex;
}
#u10184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10185 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1415px;
  width:56px;
  height:26px;
  display:flex;
}
#u10185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10186 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1462px;
  width:56px;
  height:16px;
  display:flex;
}
#u10186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10187 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1509px;
  width:56px;
  height:16px;
  display:flex;
}
#u10187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10188 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1555px;
  width:56px;
  height:26px;
  display:flex;
}
#u10188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10189 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1602px;
  width:56px;
  height:16px;
  display:flex;
}
#u10189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10190 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1649px;
  width:56px;
  height:16px;
  display:flex;
}
#u10190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10191 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1695px;
  width:56px;
  height:26px;
  display:flex;
}
#u10191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10192 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1742px;
  width:56px;
  height:16px;
  display:flex;
}
#u10192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10193 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:351px;
  width:113px;
  height:28px;
  display:flex;
}
#u10193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10194 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:351px;
  width:118px;
  height:28px;
  display:flex;
}
#u10194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10195 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:350px;
  width:118px;
  height:28px;
  display:flex;
}
#u10195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
