body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71.0001627066443px;
  width:2492.0003624371px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:687px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17890 {
  border-width:0px;
  position:absolute;
  left:2093px;
  top:104px;
  width:469px;
  height:687px;
  display:flex;
}
#u17890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17891 {
  border-width:0px;
  position:absolute;
  left:2170px;
  top:311px;
  width:353px;
  height:312px;
  display:flex;
}
#u17891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:687px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17892 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:104px;
  width:469px;
  height:687px;
  display:flex;
}
#u17892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17893 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:325px;
  width:353px;
  height:312px;
  display:flex;
}
#u17893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:567px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17894 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:103px;
  width:890px;
  height:567px;
  display:flex;
}
#u17894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:2px;
}
#u17895 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:132px;
  width:893px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.144840407152437deg);
  -moz-transform:rotate(-0.144840407152437deg);
  -ms-transform:rotate(-0.144840407152437deg);
  transform:rotate(-0.144840407152437deg);
}
#u17895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17896 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:111px;
  width:84px;
  height:16px;
  display:flex;
}
#u17896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17897 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:111px;
  width:36px;
  height:16px;
  display:flex;
}
#u17897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17898 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:202px;
  width:382px;
  height:360px;
  display:flex;
}
#u17898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:240px;
}
#u17899 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:278px;
  width:243px;
  height:240px;
  display:flex;
}
#u17899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17900 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:220px;
  width:209px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u17901 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:394px;
  width:35px;
  height:33px;
  display:flex;
}
#u17901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17902 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:530px;
  width:56px;
  height:16px;
  display:flex;
}
#u17902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17903 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:256px;
  width:119px;
  height:16px;
  display:flex;
}
#u17903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17904 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:585px;
  width:140px;
  height:40px;
  display:flex;
}
#u17904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u17905 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:162px;
  width:238px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u17905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u17906 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:143px;
  width:469px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.107288899847077deg);
  -moz-transform:rotate(0.107288899847077deg);
  -ms-transform:rotate(0.107288899847077deg);
  transform:rotate(0.107288899847077deg);
}
#u17906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17907 {
  border-width:0px;
  position:absolute;
  left:1738px;
  top:116px;
  width:56px;
  height:16px;
  display:flex;
}
#u17907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17908 {
  border-width:0px;
  position:absolute;
  left:1626px;
  top:392px;
  width:281px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17909 {
  border-width:0px;
  position:absolute;
  left:1707px;
  top:446px;
  width:119px;
  height:16px;
  display:flex;
}
#u17909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17909_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17910 {
  border-width:0px;
  position:absolute;
  left:1696px;
  top:553px;
  width:140px;
  height:40px;
  display:flex;
}
#u17910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:687px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17911 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:102px;
  width:469px;
  height:687px;
  display:flex;
}
#u17911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17912 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:69px;
  width:98px;
  height:16px;
  display:flex;
}
#u17912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u17913 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:141px;
  width:469px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.107288899847077deg);
  -moz-transform:rotate(0.107288899847077deg);
  -ms-transform:rotate(0.107288899847077deg);
  transform:rotate(0.107288899847077deg);
}
#u17913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17914 {
  border-width:0px;
  position:absolute;
  left:1254px;
  top:115px;
  width:28px;
  height:16px;
  display:flex;
}
#u17914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:138px;
}
#u17915 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:377px;
  width:450px;
  height:138px;
  display:flex;
}
#u17915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17916 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:311px;
  width:329px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17917 {
  border-width:0px;
  position:absolute;
  left:1602px;
  top:269px;
  width:329px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u17918 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:246px;
  width:53px;
  height:50px;
  display:flex;
}
#u17918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u17919 {
  border-width:0px;
  position:absolute;
  left:1741px;
  top:192px;
  width:53px;
  height:50px;
  display:flex;
}
#u17919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u17920 {
  border-width:0px;
  position:absolute;
  left:2094px;
  top:143px;
  width:469px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.107288899847077deg);
  -moz-transform:rotate(0.107288899847077deg);
  -ms-transform:rotate(0.107288899847077deg);
  transform:rotate(0.107288899847077deg);
}
#u17920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17921 {
  border-width:0px;
  position:absolute;
  left:2295px;
  top:116px;
  width:56px;
  height:16px;
  display:flex;
}
#u17921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17922 {
  border-width:0px;
  position:absolute;
  left:2310px;
  top:444px;
  width:90px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17923 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:269px;
  width:329px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u17924 {
  border-width:0px;
  position:absolute;
  left:2328px;
  top:192px;
  width:53px;
  height:50px;
  display:flex;
}
#u17924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17925 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:565px;
  width:140px;
  height:40px;
  display:flex;
}
#u17925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17926_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:410px;
  height:19px;
}
#u17926p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:398px;
  height:6px;
  -webkit-transform:rotate(0.21514678969362deg);
  -moz-transform:rotate(0.21514678969362deg);
  -ms-transform:rotate(0.21514678969362deg);
  transform:rotate(0.21514678969362deg);
}
#u17926p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:6px;
}
#u17926p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.21514678969362deg);
  -moz-transform:rotate(0.21514678969362deg);
  -ms-transform:rotate(0.21514678969362deg);
  transform:rotate(0.21514678969362deg);
}
#u17926p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17926p002 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-179.784853210306deg);
  -moz-transform:rotate(-179.784853210306deg);
  -ms-transform:rotate(-179.784853210306deg);
  transform:rotate(-179.784853210306deg);
}
#u17926p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u17926 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:639px;
  width:392px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(98.7848532103064deg);
  -moz-transform:rotate(98.7848532103064deg);
  -ms-transform:rotate(98.7848532103064deg);
  transform:rotate(98.7848532103064deg);
}
#u17926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u17927 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:846px;
  width:196px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u17927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u17928 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:846px;
  width:126px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u17928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17929 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:203px;
  width:382px;
  height:360px;
  display:flex;
}
#u17929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:240px;
}
#u17930 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:279px;
  width:243px;
  height:240px;
  display:flex;
}
#u17930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17931 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:221px;
  width:209px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17932 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:257px;
  width:119px;
  height:16px;
  display:flex;
}
#u17932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17933 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:585px;
  width:140px;
  height:40px;
  display:flex;
}
#u17933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17934 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:530px;
  width:56px;
  height:16px;
  display:flex;
}
#u17934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17934_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
