body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:3342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:1035px;
}
#u3298 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1240px;
  width:1911px;
  height:1035px;
  display:flex;
}
#u3298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:1035px;
}
#u3299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:1035px;
  display:flex;
}
#u3299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:960px;
}
#u3300 {
  border-width:0px;
  position:absolute;
  left:2114px;
  top:40px;
  width:1228px;
  height:960px;
  display:flex;
}
#u3300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3301_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1892px;
  height:19px;
}
#u3301p000 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:1886px;
  height:14px;
  -webkit-transform:rotate(-0.162921720967044deg);
  -moz-transform:rotate(-0.162921720967044deg);
  -ms-transform:rotate(-0.162921720967044deg);
  transform:rotate(-0.162921720967044deg);
}
#u3301p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1886px;
  height:14px;
}
#u3301p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-0.162921720967044deg);
  -moz-transform:rotate(-0.162921720967044deg);
  -ms-transform:rotate(-0.162921720967044deg);
  transform:rotate(-0.162921720967044deg);
}
#u3301p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3301p002 {
  border-width:0px;
  position:absolute;
  left:1862px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.162921720967deg);
  -moz-transform:rotate(-180.162921720967deg);
  -ms-transform:rotate(-180.162921720967deg);
  transform:rotate(-180.162921720967deg);
}
#u3301p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3301 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:322px;
  width:1874px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(5.16292172096704deg);
  -moz-transform:rotate(5.16292172096704deg);
  -ms-transform:rotate(5.16292172096704deg);
  transform:rotate(5.16292172096704deg);
}
#u3301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3302_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:2251px;
  height:19px;
}
#u3302p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-11px;
  width:2254px;
  height:22px;
  -webkit-transform:rotate(0.2405679763067deg);
  -moz-transform:rotate(0.2405679763067deg);
  -ms-transform:rotate(0.2405679763067deg);
  transform:rotate(0.2405679763067deg);
}
#u3302p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2254px;
  height:22px;
}
#u3302p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.2405679763067deg);
  -moz-transform:rotate(0.2405679763067deg);
  -ms-transform:rotate(0.2405679763067deg);
  transform:rotate(0.2405679763067deg);
}
#u3302p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3302p002 {
  border-width:0px;
  position:absolute;
  left:2221px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.240567976307deg);
  -moz-transform:rotate(180.240567976307deg);
  -ms-transform:rotate(180.240567976307deg);
  transform:rotate(180.240567976307deg);
}
#u3302p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3302 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:875px;
  width:2233px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-24.2405679763067deg);
  -moz-transform:rotate(-24.2405679763067deg);
  -ms-transform:rotate(-24.2405679763067deg);
  transform:rotate(-24.2405679763067deg);
}
#u3302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:56px;
}
#u3303 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:979px;
  width:67px;
  height:56px;
  display:flex;
}
#u3303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:56px;
}
#u3304 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:977px;
  width:74px;
  height:56px;
  display:flex;
}
#u3304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3305 {
  border-width:0px;
  position:absolute;
  left:1661px;
  top:977px;
  width:258px;
  height:69px;
  display:flex;
}
#u3305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3306 {
  border-width:0px;
  position:absolute;
  left:1662px;
  top:2223px;
  width:258px;
  height:69px;
  display:flex;
}
#u3306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:68px;
}
#u3307 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:900px;
  width:133px;
  height:68px;
  display:flex;
}
#u3307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:68px;
}
#u3308 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:2138px;
  width:133px;
  height:68px;
  display:flex;
}
#u3308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:52px;
}
#u3309 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:2214px;
  width:289px;
  height:52px;
  display:flex;
}
#u3309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:53px;
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:979px;
  width:290px;
  height:53px;
  display:flex;
}
#u3310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:979px;
  width:112px;
  height:56px;
  display:flex;
}
#u3311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#7F7F7F;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:21px;
  width:225px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#7F7F7F;
}
#u3312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3312_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:137px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u3313 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:1866px;
  top:966px;
  width:52px;
  height:50px;
  display:flex;
}
#u3314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#4B7902;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:1825px;
  top:987px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#4B7902;
}
#u3315 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3315_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#03C0AB;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:21px;
  width:44px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#03C0AB;
}
#u3316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#7F7F7F;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:1584px;
  top:1256px;
  width:225px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#7F7F7F;
}
#u3317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:2208px;
  width:52px;
  height:50px;
  display:flex;
}
#u3318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#4B7902;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:2229px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#4B7902;
}
#u3319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3319_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#03C0AB;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:1256px;
  width:44px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#03C0AB;
}
#u3320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3320_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1234px;
  width:258px;
  height:69px;
  display:flex;
}
#u3321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1256px;
  width:137px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u3322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3322_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:962px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:962px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:968px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:2204px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:2204px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:2204px;
  width:106px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:1807px;
  top:2204px;
  width:55px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
